body{
    background-color: gray;
}
.container{
    align-items: center;
    text-align: center;
    background-image: url("pic.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 20%;
    background-position: center;
    padding-top: 3%;
}
h1{
  opacity: 50%;  
    text-shadow: 2px 2px black;
    padding-top: 2%;
    padding-bottom:5%;

}

#mainContent{
    width: 30%;
    height:30%;
    margin: auto;
}

.form-control{
    opacity: 50%;
}

label{
    color: black;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px gray;
}

#sub{
    margin-top: 5%;
}

.td{
    background: transparent;
    border: none;
    background-image: url("orange.png");
    background-size:cover;
    width: 33px;
    height:33px;
    padding-left: 50%;
    color: green;
    font-weight: bolder;
    font-size: 12px;
}

#oranges{
    padding-left: 1%;
}

span{
    color: white;
    opacity: 50%;  
    text-shadow: 2px 2px black;
    font-size: 30px;
}

#btnG{
    padding-top: 10px;
}

#sub2{
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
}